annotated-types
anyio
asgiref
async-timeout
certifi
cffi
channels
charset-normalizer
colorama
cryptography
defusedxml
distro
dj-database-url
Django
django-allauth
django-cors-headers
django-crispy-forms
django-formtools
django-guardian
django-shortuuidfield
djangorestframework
djangorestframework-jwt
djangorestframework-simplejwt
gunicorn
h11
httpcore
httpx
idna
mysqlclient
oauthlib
openai
packaging
pillow
psycopg2-binary
pycparser
pydantic
pydantic_core
PyJWT
python-decouple
python3-openid
pytz
redis
requests
requests-oauthlib
shortuuid
six
sniffio
sqlparse
tqdm
typing_extensions
tzdata
urllib3
whitenoise
